html{width: 100%;height: 100%;word-break:break-all;word-wrap:break-word;}
body{
	margin: 0;font-size: 14px;line-height: 20px;font-family:"Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
	background-color: #F1F1F1;color: #333;width: 100%;min-height: 100%;
	/*background: url(../images/bg.jpg) repeat 0 0 #eaeaea;*/position: relative;
}

ul{list-style: none;padding: 0;margin: 0;}
a{color: #3498DB;text-decoration: none;}
a:hover{text-decoration: none;}
.color-depth{color: #3498DB;}
.color-depth:hover,.color-depth:active{text-decoration: underline;}


h1,h2,h3,h4,h5,h6{margin: 0;}
p{margin: 0;}
.curp{cursor: pointer!important;}
blockquote{margin: 0;padding: 10px;background-color: #EFF1F3;border-left: 8px solid #E5E8EC;margin-bottom: 20px;}
img{vertical-align: top;border: 0;}
input[type="text"],input[type="password"]{
	height: 20px;line-height: 20px;padding: 8px 10px;margin: 0;background-color: #FFF;border: 0;outline: none;
	font-size: 14px;color: #333;vertical-align: top;
	-webkit-transition: box-shadow ease .4s;
			transition: box-shadow ease .4s;
	font-family: "Microsoft Yahei",arial,\5b8b\4f53,sans-serif;
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{box-shadow: 0 0 10px rgba(0,0,0,.2);}
input[type="checkbox"]{margin: 0 4px 0 0;vertical-align: -1px;outline: none;}
input[type="radio"]{margin: 0 4px 0 0;vertical-align: -1px;}
textarea{
	margin: 0;
	line-height: 20px;padding: 8px 10px;outline: 0;border: 1px solid #DDD;font-size: 14px;vertical-align: top;
	resize: none;
	-webkit-transition: box-shadow ease .4s;
			transition: box-shadow ease .4s;
}

.input-error,input[type="text"].input-error:focus,
input[type="password"].input-error:focus,textarea.input-error:focus{
	box-shadow: 0 0 10px rgba(255,0,0,.4);
}
.disabled{cursor: not-allowed;background-color: #eee;}
/* CSS3è¿åŠ¨æ•ˆæžœ */
.move-4{
	-webkit-transition: background-color ease .4s;
			transition: background-color ease .4s;
}
.ease-in-out{
	-webkit-trasition:all .1s ease-in-out 0;
		   transition:all .1s ease-in-out 0;
}

/* å…¬ç”¨æ ·å¼åŒº */
.clearfix{zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

.inb,.inb-vt{display: inline-block;*display: inline;zoom: 1;}
.inb-vt{vertical-align: top;}
.dn{display: none;}
.vh{visibility: hidden;}
.fl{float: left;}
.fr{float: right;}
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}
.pr{position: relative;}
.oh{overflow: hidden;}
.odt{display: block;white-space:nowrap;text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.en-wrap{word-break:break-all;word-wrap:break-word;}

.full{display: block;width: 100%;height: 100%;}
.cp{cursor: pointer;}
.mb10{margin-bottom: 20px;}

.rl-btn{
	display: inline-block;*display: inline;zoom: 1;vertical-align: top;
	line-height: 30px;background-color: #3498DB;color: #FFF;padding: 0 14px;border-radius: 2px;font-family: Helvetica,Arial,sans-serif;}
.rl-btn:hover{opacity: .8;}

.plus-v-p-12,.plus-v-c-12{
	display: inline-block;*display: inline;zoom: 1;position: absolute;right: -2px;bottom: -2px;
	width: 14px;height: 12px;
}

.index-header{
	position: relative;width: 100%;min-width: 960px; max-width: 1440px;height: 500px;margin-left: auto;margin-right: auto;
	margin-bottom: -50px;/*ç”¨äºŽåŒºåˆ†é¦–é¡µå†…é¡µçš„è·ç¦»*/
	position: relative; z-index: 2;
}
.index-nav a{color: #FFF;}
.index-nav a:hover{color: #D5D5D5;}
.index-wrap{
	position: absolute;z-index: 2;left: 0;top: 0;right: 0;
}
.index-nav{
	color: #FFF;height: 34px;line-height: 34px;
	padding: 15px 0;max-width: 1180px;margin-left: auto;margin-right: auto;position: relative;
}
.index-logo{display: block;width: 100px;height: 32px;float: left;margin-right: 40px;margin-left: 10px}
.france-logo{
    display: block;
    /*width: 17px;
    height: 12px;*/
    float: left;
    margin-right: 40px;
    margin-left: -38px;
    /*margin-top: 4px;*/
    position: relative;
    cursor: pointer;
}
.france-logo img{
	/*width: 100%;*/
	height: 32px;
}
.index-nav .index-logo img,.fix-main .index-logo img{width: 100px;height: 32px;}
.index-nav-list{margin-left: -20px;float: left;font-size: 15px;}
.index-nav-list>li{float: left;margin-left: 10px;}
.index-nav-list li a{display: block;padding: 0 10px;}
/*.index-nav-list li a:hover{font-weight: bold;}*/
.index-nav-list li span i,.fix-item-more span i{
	display: inline-block;*display: inline;zoom: 1;vertical-align: top;margin-top: 15px;*margin-top: 8px;
	margin-left: 4px;
	width: 10px;height: 6px; no-repeat;
}
.index-item-more:hover{color: #D5D5D5;}
.index-item-more,.fix-item-more{position: relative;z-index: 2;cursor: default;text-align: center;padding: 0 10px 16px;}
.index-item-more .index-sub li a{color: #d5d5d5;}
.index-item-more:hover .index-sub{left: -30px;top: 36px;opacity: 1;filter:alpha(opacity=100);}
.fix-item-more:hover .fix-sub{left: -29px;top: 40px;opacity: 1;filter:alpha(opacity=100);}

.index-tip{float: right;margin-right: 10px;}
.index-tip span{
	display: inline-block;*display: inline;zoom: 1;font-size: 12px;height: 20px;line-height: 20px;
	*margin-top: 3px;background-color: #333;filter:alpha(opacity=85);
	background-color: rgba(255, 255, 255, 0.2);margin-left: 6px;vertical-align: middle;border-radius: 2px;
	padding: 0 6px;
}
.index-user{
	float: right;position: relative;z-index: 10;width: 120px;height: 34px;padding-bottom: 16px;
	margin-right: 10px;cursor: default;text-align: center;
}
.index-user .plus-v-p-14,.index-user .plus-v-c-14{
	margin-top: 11px;margin-left: 2px;
}
.index-nav .index-user:hover{color: #D5D5D5;}
.index-user .name{display: inline-block;*display: inline;zoom: 1;vertical-align: top;max-width: 100px;}
.index-sub,.fix-sub{
	position: absolute;left: 0;top: -9999px;opacity: 0;filter:alpha(opacity=0);
	width: 120px;border-radius: 2px;box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
	background-color: #FFF;color: #333;font-size: 13px;
}
.occupied{display: none; height: 64px; width: 100%;}
.index-wrap .index-sub{background-color: #333;}
.index-sub a,.fix-sub a{color: #333;display: block;}
.index-sub a:hover,.fix-sub a:hover{background-color: #F5F5F5;}
.index-wrap .index-sub a{color: #d5d5d5;}
.index-wrap .index-sub a:hover{background-color: #222;color: #fff;}
.fix-wrap .index-user:hover .index-sub{top: 40px;opacity: 1;filter:alpha(opacity=100);}
.index-wrap .index-user:hover .index-sub{top: 36px;opacity: 1;filter:alpha(opacity=100);}
.index-user .index-sub a:hover{color: #333}
.index-wrap .index-user .index-sub a:hover{color: #fff;}
.index-left{box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);}
.index-login{float: right;}
.index-login a{margin-right: 20px;}
.index-login a:last-child{margin-right: 10px;}

.index-search{float: right;position: relative;display: block;*width:205px;height: 32px;margin-top: 1px;margin-right: 10px;}
.index-search input{
	background-color: #F1F1F1;background-color: rgba(241,241,241,.2);filter: alpha(opacity=40);
	border: 1px solid rgba(204, 204, 204, .5);line-height: 20px;padding: 5px 40px 5px 10px;
	vertical-align: top;
	border-radius: 2px;
}
.index-search input:focus{background-color: rgba(241,241,241,.3);}
.index-search-btn{
    position: absolute;width: 32px;height: 32px;right: 0;top: 0;
    background-position: 8px 8px;
    background-repeat: no-repeat;
}
background-position: 8px 7px;
background-repeat: no-repeat;}

.index-prev,.index-next{
	position: absolute;z-index: 2;top: 50%;margin-top: -38px;
	display: inline-block;*display: inline;zoom: 1;cursor: pointer;
}
.index-prev{background-position: -84px 0px;left: 20px;}
.index-prev:hover{background-position: 0px 0px;}
.index-next{background-position: -125px 0px;right: 20px;}
.index-next:hover{background-position: -43px 0px;}
.index-header .dn{display: none;}


/* é¦–é¡µä¸»å†…å®¹åŒº */
	/* ä¾§è¾¹æ ·å¼ */
.tags{margin-left: -8px;margin-top: -8px;}
.tags a{
	margin-left: 8px;margin-top: 8px;
	display: inline-block;*display: inline;zoom: 1;vertical-align: top;height: 26px;line-height: 26px;padding: 0 12px;
	background-color: #F1F1F1;color: #3498DB;border-radius: 2px;
	font-size: 12px;font-family: Helvetica,Arial,sans-serif;
}
.tags a:hover{background-color: #3498DB;color: #FFF;}
.tags .sel{background-color: #3498DB;color: #FFF;}
.ori-list{margin-top: -15px;}
.ori-list li{padding-top: 15px;margin-top: 15px;border-top: 1px solid #F1F1F1;}
.ori-list li:first-child{border: 0;}
.ori-intro{display: block;color: #666;background-color: #f1f1f1;padding: 8px 10px;margin-top: 15px;position: relative;font-size: 12px;font-family: 'å®‹ä½“';border-radius: 2px;line-height: 22px;}
.ori-intro span{
	position: absolute;width: 0;height: 0;left: 20px;bottom: 100%;
	border-left: 8px solid transparent;border-right: 8px solid transparent;
	border-bottom: 10px solid #F1F1F1;
}
.ori-title{color: #333;font-weight: bold;}
.ori-title:hover{color: #666;}

.ori-user{font-family: Helvetica,Arial,sans-serif;margin-top: 6px;text-align: right;color: #333;font-size: 12px;}
.ori-user a{display: inline-block;*display: inline;zoom: 1;vertical-align: top;font-size: 12px;}
.ori-user a.name{max-width: 150px;margin-right: 4px;color: #666;}
.ori-user a.name:hover{color: #333;/*text-decoration: underline;*/}
.ori-user a.work{max-width: 120px;margin-left: 4px;color: #3498DB;}
.ori-user a.work:hover{color: #666;/*text-decoration: underline*/;}

.active-list li{margin-top: 20px;}
.active-list li a{display: block;}
.active-list li a img{width: 100%;}
.active-list a:hover{opacity: 0.9;}
.hot-list li{margin: 0 -20px;}
.hot-list li a{
	display: block;padding: 6px 20px 6px 40px;position: relative;font-size: 12px;font-family: Helvetica,Arial,sans-serif;color: #747f8c;line-height: 22px;
}
.hot-list li:hover{background-color: #F9F9F9;}
.hot-list li a span.hot-num{
	color: #3498DB;font-family: "Georgia";font-size: 16px;font-weight: bold;
	position: absolute;left: 20px;top: 4px;}

.index-tab{
	position: relative;z-index: 2;
	background-color: #F9F9F9;height: 50px;line-height: 50px;border-bottom: 1px solid #DDD;
}
.index-tab a{
	display: block;height: 100%;float: left;padding: 0 30px;color: #333;border-right: 1px solid #DDD;
}
.index-tab a.sel{background-color: #FFF;border-bottom: 1px solid #FFF;}
.index-tab a.hot{position: relative;}
.index-tab a.hot span.animate{
animation:wobble .15s 0s ease both;
-webkit-animation:wobble .15s 0s ease both;
-moz-animation:wobble .15s 0s ease both;}
@keyframes wobble{
0%{transform:translateY(0%)}
33%{transform:translateY(-10%)}
66%{transform:translateY(-20%)}
100%{transform:translateY(0%)}
}
@-webkit-keyframes wobble{
0%{-webkit-transform:translateY(0%)}
33%{-webkit-transform:translateY(-10%)}
66%{-webkit-transform:translateY(-20%)}
100%{-webkit-transform:translateY(0%)}
}
@-moz-keyframes wobble{
0%{-moz-transform:translateY(0%)}
33%{-moz-transform:translateY(-10%)}
66%{-moz-transform:translateY(-20%)}
100%{-moz-transform:translateY(0%)}
}
/*qqç©ºé—´å’Œå¾®åšå…³æ³¨*/
.index-tab a.follow_btn.status_followed,.index-tab .follow_data a{padding: 0; border:none;}
.WB_FB_show{position: absolute; top: 15px; right: 0; line-height: normal;}
/*é¦–é¡µåˆ†äº« å±å¹•å°äºŽ1200æ—¶*/
@media screen and (max-width:1200px){
	.WB_FB_show .qzone{display: none !important;}
}
@media \0screen\,screen\9{
	.WB_FB_show .qzone{display: none !important;}
}

.WB_FB_show .qzone, .WB_FB_show .weibo{float: left;}
.index-main{background-color: #FFF;padding: 30px;}
.index-list{margin-top: -40px;background-color: #FFF;}
.index-list li{margin-top: 50px;}
.index-img{display: block;float: left;position: relative;overflow:hidden;}
.index-img img{width: 100%;height: 100%;transition: all 2.5s linear;
-moz-transition: all 2.5s linear;
-webkit-transition: all 2.5s linear;
-o-transition: width all 2.5s linear;}
.index-img img:hover{transform: scale(1.09,1.09);
-ms-transform: scale(1.09,1.09);
-webkit-transform: scale(1.09,1.09);
-o-transform: scale(1.09,1.09);
-moz-transform: scale(1.09,1.09);}
.index-text{position: relative;}
.index-text h1{
	font-size: 20px;font-weight: normal;line-height: 34px;
	max-height:64px;overflow: hidden;}
.index-text h1 a{color: #333;font-weight: bold;word-wrap: break-word;overflow-wrap: break-word;}
.index-text h1 a:hover{color: #666;}
.index-like{position: absolute;left: 0;bottom: 0;right: 0;height: 16px;}
.index-like .time{font-size: 12px;color: #999;float: left;margin-right: 10px;}
.index-like .post-ope{line-height: 18px;}
h1 .mark{
	display: inline-block;*display: inline;zoom: 1;vertical-align: top;font-size: 12px;font-weight:normal!important;font-family: Helvetica,Arial,sans-serif;
	padding: 0 8px;color: #FFF!important;line-height: 20px;margin-top: 6px;*margin-top: 2px;margin-left: 6px;
}
h1 .mark-blue{background-color: #5CBEFF;}
h1 .mark-green{background-color: #5DCB8B;}
h1 .mark-red{background-color:  #FF7B6E;}


.index-con{color: #999;font-size: 12px;margin: 6px 0;min-height: 10px;line-height: 24px;}
.index-con .rating{margin-top: 3px;*margin-top: -3px;}
.index-con .plus-v-p-12,.index-con .plus-v-c-12{position: static;vertical-align: top;margin-top: 5px;*margin-top: 0;margin-right: 6px;margin-left: 2px;}
.index-con a{color: #999;}
.index-con .user{font-weight: bold;color: #666;}
.index-intro a{font-size: 16px;line-height: 26px;max-height: 52px;overflow: hidden;color: #747f8c;
	/*font-family:Helvetica,Arial,sans-serif;
	font-family:"Microsoft Yahei","å†¬é’é»‘ä½“ç®€ä½“ä¸­æ–‡ w3";*/}

/*æ´»åŠ¨é¡µé¢
 *è¦†ç›–ä¸»é¡µåˆ—è¡¨æ ·å¼
*/
.index-activity-main{padding-top: 0; padding-left: 0; padding-right: 0;}
.index-activity{margin-bottom: 20px; position: relative;}
h3 .mark{
	display: inline-block;*display: inline;zoom: 1;vertical-align: top;font-size: 12px;font-weight:normal!important;font-family: Helvetica,Arial,sans-serif;
	padding: 0 6px;color: #FFF!important;line-height: 20px;margin-top: 2px;margin-left: 6px;cursor: default;
}


.rotate{position: absolute;z-index: 1;width: 100%;height: 100%;overflow: hidden;}
.rotate-item{
	position: absolute;z-index: 1; width: 100%;height: 100%;opacity: 0;filter:alpha(opacity=0); 
	background-position: center center;background-repeat: no-repeat;
	-webkit-backface-visibility: hidden;
	-webkit-transition: opacity 800ms ease-in-out;
	   -moz-transition: opacity 800ms ease-in-out;
		-ms-transition: opacity 800ms ease-in-out;
		 -o-transition: opacity 800ms ease-in-out;
			transition: opacity 800ms ease-in-out;
}
.rotate-active{z-index: 2;opacity: 1;filter:alpha(opacity=100);}
.rotate-item img{display: block;width: 100%;height: 100%;}
.rotate-item a{
	position: absolute;display: block;left: 0;right: 0;top: 0;bottom: 0;
	background-color: #FFF;opacity: 0;filter:alpha(opacity=0);
}
.rotate-bg{
	position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
	background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0)30%);
    background: -webkit-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0)30%);
    background: -moz-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0)30%);
    background: -o-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0)30%);
}
.rotate-tip{
	position: absolute;right: 0;bottom: 80px;margin-top: 270px;padding: 20px;
	background-color: #000;filter:alpha(opacity=70);*top: 50%;*margin-top: -70px;background-color: rgba(0,0,0,.4);
	color: #FFF;max-width: 800px;max-height: 120px;
}
.rotate-tip h3{font-size: 22px;font-weight: bold;width: 500px;line-height: 30px;}
.rotate-text{max-width: 500px;margin-right: 0;margin-top: 20px;height: 80px;overflow: hidden;}

.rotate-nav{position: absolute;z-index: 10;height: 10px;bottom: 35px;left: 0;right: 0;text-align: center;}
.rotate-nav a,.activity-ror-con a,.activity-ror-con-series a{
	display: inline-block;*display: inline;zoom: 1;vertical-align: top;
.rotate-nav a:last-child,.activity-ror-con a:last-child,.activity-ror-con-series a:last-child{margin-right: 0;}

}