<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ManagerLogin</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static "css/login.css" %}">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>


</head>
<body>

<div class="banner"></div>
<div class="banner-mask"></div>
<div class="login user-center-wrapper">
<div class="login-text">
        管理员登录
</div>

    <div class="login-form">
<div id="managerLogin">
    <div class="form-item">
        <input type="text" name="" class="login-input" id="user" placeholder="请输入账号" v-model="id">
    </div>

    <div class="form-item">
        <input type="password" name="" class="login-input" id="input" placeholder="请输入密码" v-model="pwd">
    </div>

    <button type="button" class="login-btn" v-on:click="managerLoginCheck">
        登录
    </button>

    <button type="button" class="login-btn" v-on:click="managerRegister">
        注册
    </button>

    <button type="button" class="login-btn" v-on:click="user" style="margin-top:10px">
        用户登录
    </button>
</div>
</div>
    </div>
<script>
        var vm = new Vue({
            el:"#managerLogin",
            data:{
                allowed:false,
                idWrong:false,
                pwdWrong:false,
                id:null,
                pwd:null,
                illegal: false
            },
            methods:{
                managerLoginCheck() {
                    if (this.id === null) {
                        alert("请输入账号")
                    } else if (this.pwd === null) {
                        alert("请输入密码")
                    } else {
                        axios.get("{% url 'managerLoginCheck' %}",{
                            params:{
                                manager_id:this.id,
                                password:this.pwd
                            }
                        }).then(response=>{
                            this.allowed = response.data["allowed"]
                            this.nameWrong = response.data["idWrong"]
                            this.pwdWrong = response.data["pwdWrong"]
                            this.illegal = response.data["illegal"]
                            if (this.allowed === true) {
                                window.sessionStorage.setItem("id",this.id)
                                window.sessionStorage.setItem("symbol","manager")
                                window.location.href = "{% url 'selfPage'%}"
                            } else if (this.nameWrong === true) {
                                alert("账号不存在，请注册")
                            } else if (this.pwdWrong === true) {
                                alert("密码错误！")
                            } else if (this.illegal === true) {
                                alert("存在非法字符！")
                            }
                        }),err=>{
                            console.log(err);
                        };
                    }
                },
                managerRegister() {
                    window.location.href = "{% url 'managerRegister' %}"
                },
                user() {
                    window.location.href = "{% url 'login'%}"
                }
            }
        })
    </script>
</body>
</html>