<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>movieAddingPage</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    {% load static %}
	<link type="text/css" rel="stylesheet" href="{% static "css/topicCreatingPage.css" %}">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>


</head>
<body>


<div class="banner"></div>
<div class="banner-mask"></div>
<div class="login user-center-wrapper">
<div class="login-text">
       新增影人:)
</div>


<div id="register" class="login-form">
    <div id="movieAdding">

        <form method="get">

    <label><input name="type" type="radio" value="director" checked/>导演 </label>
    <label><input name="type" type="radio" value="writer" />编剧 </label>
    <label><input name="type" type="radio" value="actor" />演员 </label>
            <br/><br/><br/>
    </form>

    <div class="form-item" style="margin-top:0px">
        <input type="text" name="" class="login-input" placeholder="请输入影人姓名" spellcheck="false" id="name">

    </div>

    <div class="form-item">

        <textarea class="login-input" id="introduction" placeholder="请介绍该影人"  spellcheck="false" style="height:130px"></textarea>
    </div>

                <div class="layui-input-block">
                    <input type="hidden" id="img_url">
                    <input type="file" onchange="showImg()" id="img_file"><img src="" alt="" id="img_id" style="width: 100px">
  				</div>

    <button type="button" class="login-btn"  v-on:click="addWorker">
        添加影人
    </button>

            <button type="button" class="login-btn"  v-on:click="addWorker">
        添加影人
    </button>

        </div>





 </div>


</div>
</div>






<script>
 function showImg(){
            var img =  $("#img_file").val();
            var file =  document.getElementById('img_file').files[0];
            var url = URL.createObjectURL(file);
            console.log(URL.createObjectURL(file));
            var re = new FileReader();
            re.readAsDataURL(file);
            re.onload = function(re){
                $('#img_id').attr("src", re.target.result);
            }
            console.log(document.getElementById('img_id').src);
        };

    var vm = new Vue({
        el:"#movieAdding",
        delimiters:["[[","]]"],
        data:{
            name: '',
            type: '',
            introduction: ''
        },
        methods: {
            addWorker() {
                axios.get("{% url 'addWorker' %}",{
                        params:{
                            film_id:sessionStorage.getItem("film_id"),
                            worker_name: document.getElementById('name').value,
                            worker_introduction: document.getElementById('introduction').value,
                            worker_picture: document.getElementById('img_id').src,
                            type: $("input[name='type']:checked").val()
                        }
                    }).then(response=>{
                        alert("影人添加成功！")
                    }),err=>{
                        console.log(err);
                    };
            },
            output() {
                console.log(sessionStorage.getItem("film_id"))
                console.log(document.getElementById('name').value)
                console.log(document.getElementById('introduction').value)
                console.log(document.getElementById('img_id').src)
                console.log($("input[name='type']:checked").val())
            }
        }
    })



</script>

</body>
</html>