<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>movieSquare</title>
	{% load static %}
    <link type="text/css" rel="stylesheet" href="{% static "css/movieSquare_base.css" %}">
	<link type="text/css" rel="stylesheet" href="{% static "css/movieSquare.css" %}">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <style>
        .content_wrapper{
            margin-left: 0px;
        }

        .offset{
        	margin-left: -40px;
        }
    </style>
</head>
<body style="background-color: #F1F1F1;">
<div class="offset" id="movieInfo">
    <div class="index-header">
        <ul class="rotate" style="list-style:none;margin-left:20px">
            <li class="rotate-item rotate-active">
                <img style="align: center" src="https://cs.xinpianchang.com/app/user/html/stars/css/skin45/bg-big.jpg">
                <div class="rotate-tip" style="padding : 5px 0 0 20px">
                    <h3>发现好看的电影</h3>
                    <div class="rotate-text" style="text-indent:2em;font-size:20px;font-weight:bolder">尽享视觉盛宴，一切由此开启。</div>
                </div>
            </li>
        </ul>
        <div class="index-wrap clearfix ease-in-out" style="position: absolute; opacity: 1; left: 0px; z-index: 2; top: 0px;">
            <div class="index-nav">
    <!--			<a href="/" title="场库_最大的微电影平台" class="index-logo" id="index-logo"><img src="https://oss-xpc0.xpccdn.com/Upload/edu/2018/05/115af5482b2b4c9.png" alt="场库_最大的微电影平台"></a>-->
                <ul class="index-nav-list clearfix" style="list-style:none">
                    <li><a> <span class="glyphicon glyphicon-film"></span>  LOOK</a></li>
<!--                    <li><a href="index.html"> <span class="glyphicon glyphicon-home"></span>  首页</a></li>-->
                    <li><a href="{% url 'movieSquare' %}">广场</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>我的</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'selfPage' %}">个人主页</a></li>
                            <li><a href="{% url 'logout' %}" onclick="delCookie()">退出登录</a></li>
                        </ul>
                    </li>

                    <li><a href="{% url 'movieAddingPage' %}">添加影人</a></li>
                </ul>

                <button class="btn btn-primary btm-xs" v-on:click="normalShow()" style="float:right;margin-left:7px;">返回</button>
                <button class="btn btn-primary btm-sm" v-on:click="searching()" style="float:right;margin-left:7px">搜电影</button>
                <button class="btn btn-primary btm-sm" v-on:click="searchingWorkers()" style="float:right;margin-left:7px">搜影人</button>

                <form class="index-search">
                    <div class="glyphicon glyphicon-search"></div>
                    <input placeholder="请输入关键字" v-model="keyword">
                </form>

            </div>
        </div>
    </div>

    <div style="display:none">
        <h3>推荐</h3>
        <img src="">

        <div>Movie Name</div>
    </div>

    <div class="content_wrapper">

        <div class="col-xs-6 col-xs-offset-0" style="margin-left:260px">
            <div class="index-tab">
                <a v-on:click="showAll()">随便看看</a>
                <a v-on:click="showRecommendedMovies()">影片推荐</a>
                <a v-on:click="showClubs()">粉丝团</a>
                <a v-on:click="showAllWorkers()">影人</a>
            </div>

            <div v-if="this.isClub == true">
            <ul class="index-list clearfix">
                <li class="clearfix" data-id="63114" v-for="club in club_info" style="margin-top:50px;margin-left:20px;margin-right:20px">
                    <a v-on:click="toFanClub(club.club_id)" class="index-img" style="width:200px;height:250px;padding: 27px 15px 0 0">
                        <img v-bind:src="club.worker_picture">
                    </a>
                    <div class="index-text">
                        <h1><a v-on:click="toFanClub(club.club_id)">[[club.club_name]]</a></h1>
                        <div class="index-con" style="margin-top:15px;margin-bottom:10px">
                            影人：<a class="user">[[club.worker_name]]</a>
                        </div>
                        <div class="index-intro" style="text-indent:1.8em;font-size:13px;line-height:200%">[[club.worker_introduction]]</div>
                    </div>
                    <hr>
                </li>
            </ul>
        </div>

            <div v-if="this.isWorker == true">
            <ul class="index-list clearfix">
                <li class="clearfix" data-id="63114" v-for="worker in worker_info" style="margin-top:50px;margin-left:20px;margin-right:20px">
                    <a v-on:click="toWorkerPage(worker.worker_id)" class="index-img" style="width:200px;height:250px;padding: 27px 15px 0 0">
                        <img v-bind:src="worker.worker_picture">
                    </a>
                    <div class="index-text">
                        <h1><a v-on:click="toWorkerPage(worker.worker_id)">[[worker.worker_name]]</a></h1>
<!--                        <div class="index-con" style="margin-top:15px;margin-bottom:10px">-->
<!--                            影人：<a class="user">[[worker.worker_name]]</a>-->
<!--                        </div>-->
                        <div class="index-intro" style="text-indent:1.8em;font-size:13px;line-height:200%">[[worker.worker_introduction]]</div>
                    </div>
                    <hr>
                </li>
            </ul>
        </div>

            <div v-if="this.isSearchingWorker == true">
            <ul class="index-list clearfix">
                <li class="clearfix" data-id="63114" v-for="worker in searchWorkers" style="margin-top:50px;margin-left:20px;margin-right:20px">
                    <a v-on:click="toWorkerPage(worker.worker_id)" class="index-img" style="width:200px;height:250px;padding: 27px 15px 0 0">
                        <img v-bind:src="worker.worker_picture">
                    </a>
                    <div class="index-text">
                        <h1><a v-on:click="toWorkerPage(worker.worker_id)">[[worker.worker_name]]</a></h1>
<!--                        <div class="index-con" style="margin-top:15px;margin-bottom:10px">-->
<!--                            影人：<a class="user">[[worker.worker_name]]</a>-->
<!--                        </div>-->
                        <div class="index-intro" style="text-indent:1.8em;font-size:13px;line-height:200%">[[worker.worker_introduction]]</div>
                    </div>
                    <hr>
                </li>
            </ul>
        </div>

            <div v-else>
            <div v-if="isSearching">
                    <ul class="index-list clearfix">
                    <li class="clearfix" data-id="63114" v-for="movie in searchMovies" style="margin-left:20px;margin-right:20px">
                        <a v-on:click="toMoviePage(movie.film_info.film_id)" class="index-img" style="width:200px;height:280px;padding: 27px 15px 0 0">
                            <img v-bind:src="movie.film_info.picture">
                        </a>
                        <div class="index-text">
                            <h1><a v-on:click="toMoviePage(movie.film_info.film_id)" >[[movie.film_info.film_name]]</a>
                                <a class="mark mark-blue curp">[[movie.film_info.film_date]]</a>																						</h1>
                                <div class="index-con" style="margin-top:15px;margin-bottom:10px">
                                    上映地区：<a class="user">[[movie.film_info.film_area]]</a>
                                    <span style="float:right;margin-right:80px">[[movie.film_info.film_score]]</span>
                                </div>
                                <div class="index-intro" style="text-indent:2em;font-size:14px;line-height:200%">[[movie.film_info.introduction]]</div>
                                <div class="index-like clearfix">
                                    <div>
                                        <span style="float:right">共有[[movie.film_info.film_score_people]]人评分</span>
                                    </div>
                                </div>
                        </div>
                        <hr>
                    </li>
                </ul>
            </div>
            <div v-else>
                    <ul class="index-list clearfix" id="post-list">
                    <li class="clearfix" data-id="63114" v-for="movie in movies" style="margin-left:20px;margin-right:20px">
                        <a v-on:click="toMoviePage(movie.film_info.film_id)" class="index-img" style="width:200px;height:280px;padding: 27px 15px 0 0">
                            <img v-bind:src="movie.film_info.picture">
                        </a>
                        <div class="index-text">
                            <h1><a v-on:click="toMoviePage(movie.film_info.film_id)" >[[movie.film_info.film_name]]</a>
                                <a class="mark mark-blue curp">[[movie.film_info.film_date]]</a>																						</h1>
                                <div class="index-con" style="margin-top:15px;margin-bottom:10px">
                                    上映地区：<a class="user">[[movie.film_info.film_area]]</a>
                                    <span style="float:right;margin-right:80px">[[movie.film_info.film_score]]</span>
                                </div>
                                <div class="index-intro" style="text-indent:2em;font-size:14px;line-height:200%">[[movie.film_info.introduction]]</div>
                                <div class="index-like clearfix">
                                    <div>
                                        <span style="float:right">共有[[movie.film_info.film_score_people]]人评分</span>
                                    </div>
                                </div>
                        </div>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>

        </div>

        <div class="post-right col-xs-3">
            <div class="post-right-item">
                <h4 class="post-right-title">最新粉丝团</h4>
                <ul class="ori-list" style="margin-top:-20px">
                    <li class="clearfix" data-id="63114" v-for="club in fiveClubs" style="margin-top:10px">
                        <div>
                            <a v-on:click="toFanClub(club.club_id)" class="index-img" style="width:130px;height:150px;padding: 0px 0px 0 0px">
                                <img v-bind:src="club.worker_picture">
                            </a>
                        </div>
                    <p style="margin-top:20px">
                        <a v-on:click="toFanClub(club.club_id)" style="font-size:18px;color:#272727;font-weight:bold;float:center;margin-left:18px">[[club.club_name]]</a>
                        <div class="index-con" style="margin-top:30px;margin-bottom:10px;background-color: #2689FF;">
                            <a class="user" style="margin-left:30px;color:#FFF;font-size:13px;text-align:center">[[club.worker_name]]</a>
                        </div>
                    </p>
                    </li>
                </ul>
            </div>

            <div class="post-right-item">
                <h4 class="post-right-title">精彩话题</h4>
                <ul class="ori-list" style="">
                    <li class="clearfix" data-id="63114" v-for="topic in topics" style="">
                    <p style="">
                        <a class="ori-title" v-on:click="toTopicPage(topic.topic_id)">[[topic.title]]</a>
                        <div class="en-wrap ori-intro">[[topic.topic_text]]</div>
                        <span></span>
                        <div class="ori-user">
                            <a class="name odt">[[topic.user_id]]</a>
                            发布于&nbsp;&nbsp;<a v-on:click="toMoviePage(topic.film_id)">[[topic.film_name]]</a>&nbsp;&nbsp;&nbsp;[[topic.topic_time]]
                        </div>
                    </p>
                    </li>
                </ul>
            </div>

        </div>



    </div>
</div>
<script>
        var vm = new Vue({
            el:"#movieInfo",
            delimiters:["[[","]]"],
            data:{
                movies:[],
                collectedMovies:[],
                searchMovies:[],
                searchWorkers:[],
                keyword: null,
                isSearching: false,
                club_info: [],
                worker_info: [],
                isClub: false,
                isWorker: false,
                fiveClubs: [],
                isSearchingWorker: false,
                topics: [],
                symbol: sessionStorage.getItem("symbol")
            },
            mounted:function () {
                this.showAll()
                this.showFiveClubs()
                this.showFiveTopics()
                this.queryRight()
            },
            methods:{
                 queryRight(){
                        axios.get("{% url 'queryRight' %}",{
                                params:{

                                }
                            }).then(response=>{
                                this.symbol = response.data
                                console.log(this.symbol)
                            }),err=>{
                                console.log(err);
                            };
                 },
                showFiveClubs(){
                    axios.get("{% url 'showFiveClubs' %}").then(response=>{
                            this.fiveClubs = response.data
                        }),err=>{
                            console.log(err);
                        };
                },
                showAllWorkers() {
                    axios.get("{% url 'showAllWorkers' %}").then(response=>{
                            this.worker_info = response.data
                            console.log(response.data)
                        }),err=>{
                            console.log(err);
                        };
                    this.movies = [];
                    this.isWorker = true;
                    this.isClub = false;
                    this.isSearching = false;
                    this.isSearchingWorker = false;
                },
                showClubs() {
                    axios.get("{% url 'showClubs' %}").then(response=>{
                            this.club_info = response.data
                        }),err=>{
                            console.log(err);
                        };
                    this.movies = [];
                    this.isClub = true;
                    this.isWorker = false;
                    this.isSearching = false;
                    this.isSearchingWorker = false;
                },
                showAll() {
                    axios.get("{% url 'showMovieRanks' %}").then(response=>{
                            this.movies = response.data
                        }),err=>{
                            console.log(err);
                        };
                    this.isClub = false;
                    this.isWorker = false;
                    this.isSearching = false;
                    this.isSearchingWorker = false;
                },
                showRecommendedMovies() {
                    axios.get("{% url 'showRecommendedMovies' %}",{
                        params:{
                            id:sessionStorage.getItem("id")
                        }
                    }).then(response=>{
                        this.movies = response.data
                    }),err=>{
                        console.log(err);
                    };
                    this.isClub = false;
                    this.isWorker = false;
                    this.isSearching = false;
                    this.isSearchingWorker = false;
                },
                toSquare() {
                    window.location.href = "{% url 'movieSquare' %}"
                },
                toMoviePage(film_id) {
                    window.sessionStorage.setItem("film_id",film_id)
                    window.location.href = "{% url 'moviePage' %}"
                },
                searching() {
                    console.log(this.isSearching);
                    console.log(this.keyword);
                    this.isSearching = true;
                    //keyword是传到后台的值
                    //结果返回到searchMovies上，上面会显示
                    axios.get("{% url 'searchMovieByName' %}",{
                            params:{
                                keyword:this.keyword
                            }
                        }).then(response=>{
                            this.searchMovies = response.data
                        }),err=>{
                            console.log(err);
                        };
                    this.isClub = false;
                    this.isWorker = false;
                    this.isSearchingWorker = false;
                },
                searchingWorkers() {
                    console.log(this.isSearching);
                    console.log(this.keyword);
                    this.isSearchingWorker = true;
                    this.isSearching = false;
                    //keyword是传到后台的值
                    //结果返回到searchMovies上，上面会显示
                    axios.get("{% url 'searchWorker' %}",{
                            params:{
                                keyword:this.keyword
                            }
                        }).then(response=>{
                            this.searchWorkers = response.data
                        }),err=>{
                            console.log(err);
                        };
                    this.isClub = false;
                    this.isWorker = false;
                },

                normalShow() {
                    this.isSearching = false;
                    this.isClub = false;
                    this.isWorker = false;
                    this.isSearchingWorker = false;
                    //点返回键正常显示，这里不用传值
                },

                toFanClub(club_id) {
                    window.sessionStorage.setItem("club_id",club_id)
                    window.location.href = "{% url 'fanClub' %}"
                },
                toWorkerPage(worker_id) {
                    window.sessionStorage.setItem("worker_id",worker_id)
                    window.location.href = "{% url 'workerPage' %}"
                },
                showFiveTopics() {
                    axios.get("{% url 'showFiveTopics' %}",{
                        params:{
                        }
                    }).then(response=>{
                        this.topics = response.data
                        for (var i = 0; i < this.topics.length; i++)
                            {
                              this.topics[i].topic_time=this.topics[i].topic_time.replace(/T/g, ' ').replace(/.[\d]{3}Z/, ' ');
                            }
                    }),err=>{
                        console.log(err);
                    };
                },
                toTopicPage(topic_id) {
                    window.sessionStorage.setItem("topic_id",topic_id)
                    window.location.href = "{% url 'topicPage' %}"
                },
                toMovieAddingPage() {
                    window.location.href = "{% url 'movieAddingPage' %}"
                }
            }
        });
</script>
</body>
</html>