<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>moviePage</title>


        	{% load static %}
<!--    <link type="text/css" rel="stylesheet" href="{% static "css/movieSquare_base.css" %}">-->
	<link type="text/css" rel="stylesheet" href="{% static "css/moviePage.css" %}">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <style>
        .content_wrapper{
            margin-top: 80px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"> <span class="glyphicon glyphicon-shopping-cart"></span>  电影网站</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="margin-top: 3px;width:80px;background-color:black">
                <li><a href="index.html"> <span class="glyphicon glyphicon-home"></span>  首页</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search" style="width:400px;">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="找点新鲜玩意..." id="searchInput">
                </div>
                <input type="button" class="btn btn-default" onclick="jumpSearch()" value="Submit">
            </form>
            <div class="nav navbar-nav navbar-right" style="width:130px;background-color:black">
                <li><a href="{% url 'movieSquare' %}">广场</a></li>
                <li class="dropdown" id="UserDropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="UserName">
                        <span>我的</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'selfPage' %}">个人主页</a></li>
                        <li><a href="{% url 'login' %}" onclick="delCookie()">退出登录</a></li>
                    </ul>
                </li>
                <li><a href="#" ></a></li>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!--/.container-fluid -->
</nav>

<div class="content_wrapper" id="movieInfo">
<div class="row">
<div class="left col-xs-offset-2 col-xs-1" style="margin-top : 40px">
    <div data-v-c38922e8="" class="m_coverpicbox">
    <div data-v-c38922e8="" class="img_box"><a data-v-c38922e8="" href="/267290/posters_and_images" title="长津湖">
        <img src="" id="picture"></a>
        </div> <!---->
    </div> <!----> <!---->
</div>

<div class="right col-xs-offset-2 col-xs-5" style="margin-top : -10px">
<div data-v-b574f948="" class="m_head">
    <div data-v-b574f948="" class="clearfix"><h2 data-v-b574f948="" style="margin-left : -32px">
      [[movieInfo.film_name]]
      <span data-v-b574f948="" class="m_year">
        <a data-v-b574f948="" style="font-size: 34px;">([[movieInfo.film_date]])</a>
      </span>
    </h2> <p data-v-b574f948="" class="m_enname" style="margin-left : -30px;margin-top: 20px;">
        评分:[[movieInfo.film_score]]，共有[[movieInfo.film_score_people]]人评分

        <!--如果已经收藏可以取消收藏-->
<!--        <span><button disabled>已收藏</button></span>-->
        <span><button v-on:click="cancelCollect" class="btn-sm btn-info" style="float:right;margin-left:10px">取消收藏</button></span>
            <span><button v-on:click="collect" class="btn-sm btn-info" style="float:right">收藏</button></span></p></div>
<!--    <div data-v-b574f948="" class="otherbox">-->
<!--        <span data-v-b574f948="">176分钟 </span>-->
<!--        <span data-v-b574f948=""><a data-v-b574f948="" href="http://film.mtime.com/search?type=genreTypes&amp;word=剧情" target="_blank">剧情/</a>-->
<!--            <a data-v-b574f948="" href="http://film.mtime.com/search?type=genreTypes&amp;word=战争" target="_blank">战争/</a>-->
<!--            <a data-v-b574f948="" href="http://film.mtime.com/search?type=genreTypes&amp;word=历史" target="_blank">历史</a></span>-->
<!--        <a data-v-b574f948="" href="/267290/details">2021年9月30日</a><span data-v-b574f948="">中国</span>上映-->
<!--      &lt;!&ndash;&ndash;&gt;</div>-->
</div>
<!--    	<div class="panel panel-default">-->
		  <div class="panel-body" style="margin-top:-25px;float:right;margin-right:-14px">

		  	  		  <input name="starNum" id="starNum" type="hidden">
              <div class="panel-heading" style="font-size: 16px;float:left;margin-right:-15px;margin-top:-3px">电影评分&nbsp;：</div>
                      <div class="starability-container">
	                       <fieldset class="starability-slot">
		                        <input type="radio" id="rate_1_0_1_5" name="starLevel" value=5 />
		                        <label for="rate_1_0_1_5" title="5星"></label>
		                        <input type="radio" id="rate_1_0_1_4" name="starLevel" value=4 />
		                        <label for="rate_1_0_1_4" title="4星"></label>
		                        <input type="radio" id="rate_1_0_1_3" name="starLevel" value=3 />
		                        <label for="rate_1_0_1_3" title="3星"></label>
		                        <input type="radio" id="rate_1_0_1_2" name="starLevel" value=2 />
		                        <label for="rate_1_0_1_2" title="2星"></label>
		                        <input type="radio" id="rate_1_0_1_1" name="starLevel" value=1 />
		                        <label for="rate_1_0_1_1" title="1星"></label>
	                       </fieldset>
                      </div>
                      <span style="font-size: 2rem;line-height: 2.9rem;padding: 1rem;font-style: oblique;" id="starStr"></span>

                          <button v-on:click="score()" style="font-size:13px;margin-bottom:30px;margin-left:-10px;padding:5px 5px 5px 5px" class="btn-md btn-info">提交评分</button>


		  </div>
<!--		</div>-->

<dl data-v-1b3bf9ac="" class="info_l">
<!--    <dd data-v-1b3bf9ac=""><strong data-v-1b3bf9ac="">导演：</strong>-->
<!--    <a data-v-1b3bf9ac="" href="http://people.mtime.com/892816/" target="_blank">陈凯歌</a><a data-v-1b3bf9ac="" href="http://people.mtime.com/892903/" target="_blank">徐克</a>-->
<!--    <a data-v-1b3bf9ac="" href="http://people.mtime.com/892901/" target="_blank">林超贤</a>-->
<!--    </dd>-->

<!--    <dd data-v-1b3bf9ac="" class="writers_name" style="margin-bottom:20px;margin-top:-20px">-->
<!--        <span><button v-on:click="collect" class="btn btn-default">收藏</button></span>-->
<!--        &lt;!&ndash;如果已经收藏可以取消收藏&ndash;&gt;-->
<!--&lt;!&ndash;        <span><button disabled>已收藏</button></span>&ndash;&gt;-->
<!--        <span><button v-on:click="cancelCollect" class="btn btn-default">取消收藏</button></span>-->
<!--</dd>-->

    <dd data-v-1b3bf9ac="" style="margin-top:-20px;margin-bottom:10px;font-size:18px">
        <strong data-v-1b3bf9ac="">上映时间：</strong>
        <a data-v-1b3bf9ac="">
          [[movieInfo.film_date]]
          <i data-v-1b3bf9ac="" class="line"></i></a>
    </dd> <!---->


    <dd data-v-1b3bf9ac="" style="font-size:18px">
        <strong data-v-1b3bf9ac="" >上映地区：</strong>
        <a data-v-1b3bf9ac="" >
          [[movieInfo.film_area]]
          <i data-v-1b3bf9ac="" class="line"></i></a>
    </dd> <!---->


<!--    <dd data-v-1b3bf9ac="" class="companies">-->
<!--    <strong data-v-1b3bf9ac="">出品公司：</strong>-->
<!--        <a data-v-1b3bf9ac="" href="http://film.mtime.com/company/79349/" target="_blank">北京博纳影业集团有限公司</a>-->
<!--        <a data-v-1b3bf9ac="" href="http://film.mtime.com/company/2344/" target="_blank">中国人民解放军八一电影制片厂</a>-->
<!--        <a data-v-1b3bf9ac="" href="http://film.mtime.com/company/37847/" target="_blank">华夏电影发行有限责任公司</a></dd>-->

<!--    <dd data-v-1b3bf9ac=""><strong data-v-1b3bf9ac="">更多片名：</strong> <span data-v-1b3bf9ac="">冰雪长津湖</span></dd>-->

    <dt data-v-1b3bf9ac="" style="margin-bottom:20px;margin-top:20px">
        <strong style="margin-bottom:40px;margin-top:20px;font-size:18px">简介：</strong>
        <p data-v-1b3bf9ac="" class="" style="font-weight:lighter;text-indent:2em;line-height:200%;margin-top:6px">[[movieInfo.introduction]]</p>
<!--        <p data-v-1b3bf9ac="" class="more">-->
<!--            <a data-v-1b3bf9ac="" href="/267290/plots">-->
<!--            更多剧情-->
<!--            <i data-v-1b3bf9ac="" class="gt"></i></a></p>-->
    </dt>

    <dt data-v-1b3bf9ac="" style="margin-bottom:-20px;margin-top:20px;">
        <strong style="font-size:18px">预告片：</strong>
<!--        <p data-v-1b3bf9ac="" class="more">-->
<!--            <a data-v-1b3bf9ac="" href="/267290/plots">-->
<!--            更多剧情-->
<!--            <i data-v-1b3bf9ac="" class="gt"></i></a></p>-->
    </dt>

        <dd data-v-1b3bf9ac="" class="companies">

       <video width="320" height="240" controls id="video">
      <source src="" type="video/mp4">
      <object data="movie.mp4" width="320" height="240">
        <embed src="movie.swf" width="320" height="240">
      </object>
    </video>
        </dd>
</dl>
</div>
</div>

<!--    这里放moviePage下面所有的话题     -->
    <div>
        <ol>
            <li v-for="topic in topics">
                <div>
                    [[topic.user_id]]
                </div>
                <div>
                    <a v-on:click="toTopicPage(topic.topic_id)">[[topic.title]]</a>
                </div>
                <div>
                    [[topic.topic_text]]
                </div>
                <div>
                    [[topic.topic_time]]
                </div>
                <div v-if="user_id == topic.user_id">
                    <button v-on:click="deleteTopic(topic.topic_id)">删除</button>
                </div>
            </li>
        </ol>
    </div>
    <button v-on:click="toTopicCreating(movieInfo.film_id)">添加新的话题</button>
</div>
<script>



        var vm = new Vue({
            el:"#movieInfo",
            delimiters:["[[","]]"],
            data:{
                movieInfo:{},
                topics:[],
                allowed:false,
                user_id:window.sessionStorage.getItem("id"),
                topic_id:''
            },
            mounted:function () {
                this.show();
                this.showTopics();
                $('[name="starLevel"]').bind("click",function(){
		                $("#starNum").val($(this)[0].value)
	            });
            },

            methods:{
                score(){
                    var score = $('#starNum').val()
                    console.log(score)
                    axios.get("{% url 'score' %}",{
                            params:{
                                film_id:sessionStorage.getItem("film_id"),
                                user_id:sessionStorage.getItem("id"),
                                score_number: score
                            }
                        }).then(response=>{

                        }),err=>{
                            console.log(err);
                        };
                },
                deleteTopic(topic_id){
                        axios.get("{% url 'deleteTopic' %}",{
                            params:{
                                topic_id: topic_id
                            }
                        }).then(response=>{
                            this.topics = response.data
                            this.topic_id = ''
                        }),err=>{
                            console.log(err);
                        };
                },
                toTopicCreating(film_id) {
                    window.sessionStorage.setItem("film_id",film_id)
                    window.location.href = "{% url 'topicCreatingPage' %}"
                },

                toTopicPage(topic_id) {
                    window.sessionStorage.setItem("topic_id",topic_id)
                    window.location.href = "{% url 'topicPage' %}"
                },
                showTopics() {
                    axios.get("{% url 'showTopics' %}",{
                            params:{
                                film_id:sessionStorage.getItem("film_id")
                            }
                        }).then(response=>{
                            this.topics = response.data
                        }),err=>{
                            console.log(err);
                        };
                    //传入本页的film_id
                    //topics数组接收返回值即可显示
                },
                show() {
                    axios.get("{% url 'showMovie' %}",{
                            params:{
                                film_id:sessionStorage.getItem("film_id")
                            }
                        }).then(response=>{
                            this.movieInfo = response.data
                            document.getElementById("picture").src = this.movieInfo.picture
                            document.getElementById("video").src = this.movieInfo.video
                        }),err=>{
                            console.log(err);
                        };
                },
                collect() {
                    axios.get("{% url 'collect' %}",{
                            params:{
                                film_id:sessionStorage.getItem("film_id"),
                                id:sessionStorage.getItem("id")
                            }
                        }).then(response=>{
                            this.allowed = response.data
                            if (this.allowed === true) {
                                alert("收藏成功！")
                            } else {
                                alert("该电影您已收藏！")
                            }
                            this.allowed = false
                            }),err=>{
                                console.log(err);
                            };
                },
                cancelCollect() {
                    axios.get("{% url 'cancelCollect' %}",{
                            params:{
                                film_id:sessionStorage.getItem("film_id"),
                                id:sessionStorage.getItem("id")
                            }
                        }).then(response=>{
                            this.allowed = response.data
                            if (this.allowed === true) {
                                alert("取消收藏成功！")
                            } else {
                                alert("该电影您并未收藏！")
                            }
                            this.allowed = false
                        }),err=>{
                            console.log(err);
                        };
                }
            }
        })

</script>
<!--后面可以把那边热榜/收藏夹加过来，到时候copy就行-->
</body>
</html>