<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>movieAddingPage</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static "css/login.css" %}">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>


</head>
<body>

 <div class="layui-form-item" id="movieAdding">
                <label class="layui-form-label">图片地址</label>
                <div class="layui-input-block">
                    <input type="hidden" id="img_url">
                    <input type="file" onchange="showImg()" id="img_file"><img src="" alt="" id="img_id" style="width: 100px">
  				</div>

                    <label class="layui-form-label">视频地址</label>
                <div class="layui-input-block">
                    <input type="hidden" id="video_url">
                    <input type="file" onchange="showVideo()" id=video_file"><video src="" alt="" id="video_id" style="width: 100px"></video>
  				</div>
 </div>


<script>
 function showImg(){
            var img =  $("#img_file").val();
            var file =  document.getElementById('img_file').files[0];
            var url = URL.createObjectURL(file);
            console.log(URL.createObjectURL(file));
            var re = new FileReader();
            re.readAsDataURL(file);
            re.onload = function(re){
                $('#img_id').attr("src", re.target.result);
            }
            console.log(document.getElementById('img_id').src);
        };


 function showVideo(){
            // var video_file =  $("#video_file").val();
            console.log($("#video_file").val());
            var file =  document.getElementById('video_file').files[0];
            var re = new FileReader();
            re.readAsDataURL(file);
            re.onload = function(re){
                $('#video_id').attr("src", re.target.result);
            }

        }



</script>

</body>
</html>