<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>movieSquare</title>
	{% load static %}
    <link type="text/css" rel="stylesheet" href="{% static "css/movieSquare_base.css" %}">
	<link type="text/css" rel="stylesheet" href="{% static "css/movieSquare.css" %}">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <style>
        .content_wrapper{
            margin-left: 0px;
        }

        .offset{
        	margin-left: -40px;
        }
    </style>
</head>
<body>
<div class="offset"  id="movieInfo">
    <div class="index-header">
        <ul class="rotate" style="list-style:none;margin-left:20px">
            <li class="rotate-item rotate-active">
                <img style="align: center" src="https://cs.xinpianchang.com/app/user/html/stars/css/skin45/bg-big.jpg">
                <div class="rotate-tip" style="padding : 5px 0 0 20px">
                    <h3>发现好看的电影</h3>
                    <div class="rotate-text" style="text-indent:2em;font-size:20px;font-weight:bolder">尽享视觉盛宴，一切由此开启。</div>
                </div>
            </li>
        </ul>
        <div class="index-wrap clearfix ease-in-out" style="position: absolute; opacity: 1; left: 0px; z-index: 2; top: 0px;">
            <div class="index-nav">
    <!--			<a href="/" title="场库_最大的微电影平台" class="index-logo" id="index-logo"><img src="https://oss-xpc0.xpccdn.com/Upload/edu/2018/05/115af5482b2b4c9.png" alt="场库_最大的微电影平台"></a>-->
                <ul class="index-nav-list clearfix" style="list-style:none">
                    <li><a> <span class="glyphicon glyphicon-film"></span>  电影网站</a></li>
                    <li><a href="index.html"> <span class="glyphicon glyphicon-home"></span>  首页</a></li>
                    <li><a href="{% url 'movieSquare' %}">广场</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>我的</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'selfPage' %}">个人主页</a></li>
                            <li><a href="{% url 'login' %}" onclick="delCookie()">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="index-search">
                    <div class="glyphicon glyphicon-search"></div>
                    <input placeholder="请输入关键字" v-model="keyword">
                </form>

                <button class="btn btn-default" v-on:click="searching()" style="float:right">搜索</button>
                <button class="btn btn-default" v-on:click="normalShow()" style="float:right">返回</button>


            </div>
        </div>
    </div>

    <div style="display:none">
        <h3>推荐</h3>
        <img src="">

        <div>Movie Name</div>
    </div>

    <div class="content_wrapper">

        <div class="col-xs-6 col-xs-offset-2" style="margin-left:320px">
            <div class="index-tab">
                <a v-on:click="showAll()">随便看看</a>
                <a v-on:click="showRecommendedMovies()">影片推荐</a>
                <a>星级精选</a>
                <a>热门排行</a>
            </div>
            <div v-if="isSearching">
                    <ul class="index-list clearfix">
                    <li class="clearfix" data-id="63114" v-for="movie in searchMovies" style="">
                        <a v-on:click="toMoviePage(movie.film_info.film_id)" class="index-img" style="width:200px;height:280px;padding: 27px 15px 0 0">
                            <img v-bind:src="movie.film_info.picture">
                        </a>
                        <div class="index-text">
                            <h1><a v-on:click="toMoviePage(movie.film_info.film_id)" >[[movie.film_info.film_name]]</a>
                                <a class="mark mark-blue curp">[[movie.film_info.film_date]]</a>																						</h1>
                                <div class="index-con" style="margin-top:15px;margin-bottom:10px">
                                    上映地区：<a class="user">[[movie.film_info.film_area]]</a>
                                    <span style="float:right;margin-right:80px">[[movie.film_info.film_score]]</span>
                                </div>
                                <div class="index-intro" style="text-indent:2em;font-size:14px;line-height:200%">[[movie.film_info.introduction]]</div>
                                <div class="index-like clearfix">
                                    <div>
                                        <span style="float:right">共有[[movie.film_info.film_score_people]]人评分</span>
                                    </div>
                                </div>
                        </div>
                        <hr>
                    </li>
                </ul>
            </div>
            <div v-else>
                    <ul class="index-list clearfix" id="post-list">
                    <li class="clearfix" data-id="63114" v-for="movie in movies" style="">
                        <a v-on:click="toMoviePage(movie.film_info.film_id)" class="index-img" style="width:200px;height:280px;padding: 27px 15px 0 0">
                            <img v-bind:src="movie.film_info.picture">
                        </a>
                        <div class="index-text">
                            <h1><a v-on:click="toMoviePage(movie.film_info.film_id)" >[[movie.film_info.film_name]]</a>
                                <a class="mark mark-blue curp">[[movie.film_info.film_date]]</a>																						</h1>
                                <div class="index-con" style="margin-top:15px;margin-bottom:10px">
                                    上映地区：<a class="user">[[movie.film_info.film_area]]</a>
                                    <span style="float:right;margin-right:80px">[[movie.film_info.film_score]]</span>
                                </div>
                                <div class="index-intro" style="text-indent:2em;font-size:14px;line-height:200%">[[movie.film_info.introduction]]</div>
                                <div class="index-like clearfix">
                                    <div>
                                        <span style="float:right">共有[[movie.film_info.film_score_people]]人评分</span>
                                    </div>
                                </div>
                        </div>
                        <hr>
                    </li>
                </ul>
            </div>


        </div>

        <div class="col-xs-offset-1 col-xs-2">
            <div style="display:none">
                <h3>电影热榜</h3>
                <ol>
                    <li v-for="movie in movies"><a v-on:click="toMoviePage(movie.film_id)">[[movie.film_name]],[[movie.film_date]],[[movie.film_area]]</a>
                    <img src="" id="picture">
                    </li>
                </ol>
            </div>
            <div style="display:none">
                 <h3>我的收藏</h3>
                 <ol>
                    <li v-for="collectedMovie in collectedMovies"><a v-on:click="toMoviePage(collectedMovie.film_id)">[[collectedMovie.film_name]]</a></li>
                 </ol>
            </div>
        </div>
    </div>
</div>
<script>
        var vm = new Vue({
            el:"#movieInfo",
            delimiters:["[[","]]"],
            data:{
                movies:[],
                collectedMovies:[],
                searchMovies:[],
                keyword: null,
                isSearching: false
            },
            mounted:function () {
                this.showAll()
                this.show()
            },
            methods:{
                showAll() {
                    axios.get("{% url 'showAllMovies' %}").then(response=>{
                            this.movies = response.data
                        }),err=>{
                            console.log(err);
                        };
                },
                showRecommendedMovies() {
                    axios.get("{% url 'showRecommendedMovies' %}",{
                        params:{
                            id:sessionStorage.getItem("id")
                        }
                    }).then(response=>{
                        this.movies = response.data
                    }),err=>{
                        console.log(err);
                    };
                    console.log(this.movies);
                },
                toSquare() {
                    window.location.href = "{% url 'movieSquare' %}"
                },
                toMoviePage(film_id) {
                    window.sessionStorage.setItem("film_id",film_id)
                    window.location.href = "{% url 'moviePage' %}"
                },
                show() {
                    axios.get("{% url 'show' %}",{
                            params:{
                                id:sessionStorage.getItem("id")
                            }
                        }).then(response=>{
                            this.collectedMovies = response.data["film_info"]
                        }),err=>{
                            console.log(err);
                        };
                },
                searching() {
                    console.log(this.isSearching);
                    console.log(this.keyword);
                    this.isSearching = true;
                    //keyword是传到后台的值
                    //结果返回到searchMovies上，上面会显示
                    axios.get("{% url 'searchMovieByName' %}",{
                            params:{
                                keyword:this.keyword
                            }
                        }).then(response=>{
                            this.searchMovies = response.data
                        }),err=>{
                            console.log(err);
                        };
                },

                normalShow() {
                    console.log(this.isSearching);
                    this.isSearching = false;
                    //点返回键正常显示，这里不用传值
                }
            }
        });
</script>
</body>
</html>