<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>topicPage</title>
</head>
<body>

<script>
    var vm = new Vue({
            el:"#showTopics",
            data:{

            },

            mounted: function(){
                this.showSingleTopic()  //展示本话题的信息
                this.showBroadcasts() //展示所有广播的内容
            }

            methods:{
                showSingleTopic() {

                },

                showBroadcasts() {

                },

                addBroadcast() {

                }

            }
        })
</script>
</body>
</html>