<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>workerPage</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>

<div id="workerInfo">
<div>[[workerInfo.worker_id]]</div>
    <img v-bind:src="workerInfo.worker_picture">
    <div>[[workerInfo.worker_introduction]]</div>

    <div v-if="this.symbol == 'manager'">
      <button v-on:click="this.showTextarea">
          添加粉丝团
      </button>
    </div>

    <div v-if="this.addClubBoolean == true">
        <input name="" class="login-input" id="input" placeholder="请为粉丝团取个名称吧:)" v-model="club_name">
        <button v-on:click="this.addClub">
            确认
        </button>
    </div>
</div>




<script>
    var vm = new Vue({
        el:"#workerInfo",
        delimiters:["[[","]]"],
        data:{
            workerInfo:{},
            symbol: sessionStorage.getItem("symbol"),
            addClubBoolean: false,
            club_name: '',
            success: false
        },
        mounted:function(){
            this.showSingleWorker();
        },

        methods:{
            showSingleWorker(){
                axios.get("{% url 'showSingleWorker' %}",{
                        params:{
                            worker_id:sessionStorage.getItem("worker_id")
                        }
                    }).then(response=>{
                        this.workerInfo = response.data
                        console.log(this.workerInfo)
                    }),err=>{
                        console.log(err);
                    };
            },
            showTextarea(){
                this.addClubBoolean = true;
            },

            addClub(){
                axios.get("{% url 'addClub' %}",{
                        params:{
                            worker_id:sessionStorage.getItem("worker_id"),
                            club_name: this.club_name
                        }
                    }).then(response=>{
                        this.success = response.data["success"]
                        if(this.success == true){
                            alert("添加成功！")
                        }else{
                            alert("粉丝团已存在")
                        }
                        this.addClubBoolean = false
                        this.club_name = ''
                        console.log(this.success)
                    }),err=>{
                        console.log(err);
                    };
            }
        }
    })

</script>
</body>
</html>